// $primaryColor: darkcyan;
// $secondaryColor: darkslategray;

// html {
//   font-family: generalFont;
// }

// h1  {
//   color: $primaryColor;
// }
// .container{
//   &__subtitle {
//     color: $secondaryColor;
//     display: block;
//     height: 140px;
//     background: url("../images/webpack.png");
//     display: flex;
//     justify-content: center;
//   }
// }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header,
main,
footer {
  max-width: 1440px;
  margin: 0 auto;
}

header {
  background-color: #FB3F5C;
}

.header {
  display: grid;
  grid-template-columns: repeat(2, auto);
  align-items: center;
}

.header-logo {
  padding: 25px 0;
}

.header-menu {
  display: grid;
  grid-template-columns: repeat(5,auto);
  align-items: center;
  a {
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    color: #F8EEEF;
    text-decoration: none;
    position: relative;
  }
}

.active {
  position: relative;
}

.header-menu a.active::after,
.header-menu a:hover::after {
  content: '';
  position: absolute;
  bottom: -8px;
  display: block;
  width: 24px;
  height: 6px;
  background-color: #F8EEEF;
  border-radius: 55px;
}

.container {
  max-width: 1190px;
  margin: 0 auto;
}

// Home
.home {
  background: url("../images/triangle.png") no-repeat right;
  background-size: contain;
  margin-bottom: 220px;
}

.home-block {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 100px 35px 85px 0;
}

.home-block-text {
  padding-top: 100px;
  .hello {
    font-weight: 400;
    font-size: 28px;
    line-height: 38px;
    color: #000000;
  }
  .im {
    font-weight: 700;
    font-size: 50px;
    line-height: 68px;
    text-transform: capitalize;
    color: #191018;
    span {
      color: #FB3F5C;
    }
  }
  p {
    font-weight: 400;
    font-size: 24px;
    line-height: 33px;
    max-width: 480px;
    letter-spacing: 0.06em;
    text-transform: lowercase;
    color: #191018;
    margin-bottom: 40px;
  }
  .button {
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    color: #F8EEEF;
    padding: 19px 57px;
    background: #FB3F5C;
    border-radius: 18px;
    text-decoration: none;
  }
}

.home-block-img {
  margin: auto;
}

// About Us
.about-us-block {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.about-us-block-img {
  img {
    width: 360px;
  }
}

.about-us-block-text {
  h2 {
    font-weight: 700;
    font-size: 48px;
    line-height: 65px;
    text-transform: capitalize;
    color: #191018;
    max-width: 520px;
    margin-bottom: 15px;
  }
  p {
    font-weight: 400;
    font-size: 24px;
    line-height: 33px;
    letter-spacing: 0.06em;
    text-transform: lowercase;
    color: #191018;
    margin-bottom: 48px;
  }
  .button {
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    color: #F8EEEF;
    padding: 19px 57px;
    background: #FB3F5C;
    border-radius: 18px;
    text-decoration: none;
    margin-right: 28px;
  }
  .button:last-child{
    margin-right: 0;
  }
  .button.white {
    background: #FFFFFF;
    color: #FB3F5C;
    border: 1px solid #FB3F5C;
  }
}

// Latest work
.grid-section {
  padding: 175px 0 240px 0;
}

.latest-work-block {
  padding: 0 55px;
  h4 {
    font-weight: 700;
    font-size: 48px;
    line-height: 42px;
    text-align: center;
    color: #191018;
    margin-bottom: 45px;
  }
}

.latest-work-cards-list {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-gap: 45px;
  grid-auto-flow: dense;
}

.latest-work-card {
  margin: auto;
}

.card-img-block {
  width: 100%;
}

.latest-work-card h6 {
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  color: #2D2D2D;
}

.latest-work-card p {
  font-size: 17px;
  line-height: 27px;
  color: #2D2D2D;
}

@import 'media';