@media (max-width: 1240px) {
    .container {
      padding: 0 18px;
    }
  
    .latest-work-block {
      padding: 0;
    }
  }
  
  @media (max-width: 1130px) {
    .latest-work-cards-list {
      grid-template-columns: repeat(2,1fr);
    }
  }
  
  @media (max-width: 1023px) {
    .header-menu {
      display: none;
    }

    .home {
      background-position: top;
      background-size: 550px;
    }
  
    .home-block {
      grid-template-columns: 1fr;
      padding: 0;
    }
  
    .home-block-text {
      order: 2;
      margin: auto;
      padding: 0;
    }
  
    .home-block-img {
      order: 1;
      margin: 45px auto;
    }
  
    .about-us-block {
      grid-template-columns: 1fr;
    }

    .about-us-block-img {
      margin: auto;
      margin-bottom: 45px;
    }

    .about-us-block-text {
      max-width: 500px;
      margin: auto;
    }
  }
  
  @media (max-width: 768px) {
    .home {
      background-size: 310px;
    }

    .home-block-img {
      img {
        height: 300px;
      }
    }

    .about-us-block {
      .buttons {
        display: inline-grid;
        grid-gap: 20px;
        margin: auto;
      }
    }

    .about-us-block-img {
      img {
        width: 280px;
      }
    }
  
    .latest-work-cards-list {
      grid-template-columns: repeat(1,1fr);
    }
  }